@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
    padding:0;
    margin: 15px;
}
/* nav style */
nav{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 24px 160px 24px 160px;
}
.desh{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 18px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.sign-in{
   list-style: none;
}
nav ul{
    display: flex;
}
/* banner styles */
.btn-primary{
 background-color: rgb(0, 106, 80);
 border-radius: 5px;
 border: none;
 font-weight: bold;
 font-size: 20px;
 color: white;
 padding: 18px 35px;
 margin-top: 20px;
 cursor: pointer;
 
}
.banner{
    background: rgb(198, 228, 214);
    border-radius: 24px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    
}
.banner-content{
   max-width: 620px;
   padding: 80px 100px 80px 100px;

}
.banner-1{
    font: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
     height: 29px;
    margin-bottom: 10px;
}
.banner-title{
    font: Fira Sans;
    font-size: 47px;
    font-weight: 700;
    margin: 0px;
}
.banner-pic{
   max-width: 474px;
   height: 329.21px;
   margin-top:7%; 
   margin-right: 7%;
   margin-bottom: 7%;
}
/* section vision-future styles */
.v-future{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.section-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.skills-container{
    display: flex;
    gap: 10px;
}
.skill{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}
#one{
    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
}
#two{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
}
#three{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
}
.skill-btn-1{
    border-radius: 15px;
    background: rgb(84, 144, 245);
    border: none;
    font-weight:bold;
    font-size: 20px;
     color: white;
    padding: 18px 35px;
     margin-top: 15px;
     cursor: pointer;
}
.skill-btn-2{
    border-radius: 15px;
    background: rgb(9, 161, 92);
    border: none;
    font-weight: bold;
    font-size: 20px;
     color: white;
    padding: 18px 35px;
     margin-top: 15px;
     cursor: pointer;
}
.skill-btn-3{
    border-radius: 15px;
    background: rgb(255, 194, 57);
    border: none;
    font-weight: bold;
    font-size: 20px;
     color: white;
    padding: 18px 35px;
     margin-top: 15px;
     cursor: pointer;
}
.skill-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.skill-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
/* recent news styles */
.recent-news{
    width: 900px;
   
}
.subtitle{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.bds{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
.parent{
    display: flex;
   
}
.details{
    display: flex;
}
.detail{
    display: flex;
    flex-direction:row-reverse;
}

.data{
    display:inline;
    
}

 .today{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
 }
 .bd{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
 }
 .donates{
display: flex;
justify-content:center;
background-color: rgb(255, 255, 255);
gap: 30px;
 }
 .child{
    width: 139px;
    height: 48px;
    flex-grow: 0;
    margin: 32px 0px;
    border-radius: 15px;
    background: rgb(198, 228, 214);
    border: none;
    text-align: center;
    padding-top: 24px;
    font-size: 25px;
    font-family: Fira Sans;
    font-weight: bold;

 }
 
  .done{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
width: 139px;
height: 48px;
flex-grow: 0;
margin: 32px 0px;

box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;

background: rgb(0, 106, 80);
cursor: pointer;

  }
  .d-now{
    text-align: center;
    gap: 32;
    padding-top: 0%;
  }
#footer{
    border-radius: 24px;

background: rgb(198, 228, 214);
}
  .in-the-end{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align:center;
  }
  .last-p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
  }
  .email{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
/* gap: 24; */
padding: 18px 40px 18px 40px;
  }
  .Subscribe{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    width: 139px;
    height: 48px;
    flex-grow: 0;
   margin-right: 50px;
    
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    
    background: rgb(0, 106, 80);
    cursor: pointer;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
  }
  .form{
    display: flex;
    justify-content: center;
    margin:0%;
  }
  .last{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
  }